h1{
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
}
body{
  margin:0;
  padding:0;
  background-color:#678ba7;
  color:#f6f6f6;
}

button{
  border-radius: 5%;
}


.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 2 / 3 / 4; }
  .div2 { grid-area: 1 / 1 / 2 / 2; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
